.button {
  text-transform: uppercase;

  .label {
    font-weight: 700;

    color: rgba(255, 255, 255, 0.7);

    &:hover {
      animation: change-color 0.5s;

      @keyframes change-color {
        to {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
