.loading {
  position: absolute;

  top: 45%;
  
  height: 50%;
  
  width: 100%;
  
  margin: 0 auto;
  
  color: rgba(0,0,0,0.5);
  
  text-shadow: 2px 2px rgba(50,50,100,0.9);
}

.deck {
  position: absolute;

  top: calc(5vh);

  left: calc(50vw - 200px);

  font-size: small;

  user-select: none;

  @media all and (max-width: 500px) {
    left: calc(50vw - 150px);
  }
}
