@import "./scss/variables.scss";

body {
  background-repeat: no-repeat;

  background: url(./assets/background_left.png);

  background-size: contain;

  background-position-x: -400px;

  background-repeat: no-repeat;

  background-color: rgb(0, 0, 0);

  animation: animate-left-background 1s;

  @keyframes animate-left-background {
    from {
      background-position-x: -800px;
    }

    to {
      background-position-x: -400px;
    }
  }
}

.app {
  height: 100vh;

  text-align: center;

  background-color: $primaryColor;

  background-repeat: no-repeat;

  background: url(./assets/background_right.png);

  background-size: cover;

  background-position-x: 500px;

  background-repeat: no-repeat;

  animation: animate-right-background 1s;

  @keyframes animate-right-background {
    from {
      background-position-x: 1000px;
    }

    to {
      background-position-x: 500px;
    }
  }
}
