@import "./scss/variables.scss";

body {
  background-repeat: no-repeat;

  background: url(./assets/background_left.png);

  background-size: contain;

  background-position-x: -400px;

  background-repeat: no-repeat;

  background-color: rgb(0, 0, 0);
}

.App {
  height: 100vh;

  text-align: center;

  background-color: $primaryColor;

  background-repeat: no-repeat;

  background: url(./assets/background_right.png);

  background-size: cover;

  background-position-x: 500px;

  background-repeat: no-repeat;
}
